<div class="short_nav_show" th:fragment="short_nav_show">
    <ul>
<!--        <li><a href="/">首页</a></li>
   &lt;!&ndash;     <li><a href="/mall_page.do">推荐</a></li>
        <li><a href="/require_mall.do">求购商城</a></li>
        &lt;!&ndash;<li><a href="/publish_product">发布商品</a></li>&ndash;&gt;
        &lt;!&ndash;<li><a href="/require_product">发布求购信息</a></li>&ndash;&gt;
        &lt;!&ndash;<li><a href="/shopping_cart">我的购物车</a></li>&ndash;&gt;
        <li><a href="#">反馈与意见</a></li>
        <li><a href="#">联系我们</a></li>&ndash;&gt;-->

        <li><a href="/">首页</a></li>
        <li><a href="/recommend">推荐商城</a></li>
        <li><a href="/mall_page.do">售卖商品</a></li>
        <li><a href="/require_mall.do">求购商品</a></li>
        <li><a href="#">反馈与意见</a></li>

    </ul>
</div>